<h1>Accounts#show</h1>

<p>
  <% @account.attributes.each do |key, value| %>
    <%= "#{key} = #{value}" %><br>
  <% end %>
</p>

<%= link_to "Edit", edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
